@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shizuru&display=swap');

@import url('../client/app/sections/apod/styles.css');
@import url('../client/app/sections/epic/styles.css');
@import url('../client//app//sections/mars-rover/styles.css');
@import url('../client/components/scroll-button/styles.css');

body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.LoadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: black;
}

.Loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LayoutContainer {
    display: flex;
}

.NavBarContainer {
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: center;
    background-color: #242424;
}

.TabContainer {
    width: 20vw;
}

.Tab:hover {
    background-color: #333333;
}

.MainContainer {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
}
