@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: black;
}

.nav-bar-container {
    display: flex;
}

.inner-nav-bar {
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: center;
    background-color: #242424;
}

.tab-container {
    width: 20vw;
}

.tab:hover {
    background-color: #333333;
}

/* DOESNT FULLY WORK - WILL FIX LATER - */
/* button:focus {
    border: 1px solid whitesmoke;
} */

.main-container {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
}

.inner-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-content-BG-color {
    background: linear-gradient(0.5turn, black, white, black);
}
  
.card-content-icons {
    display: flex;
    justify-content: center;
}